//create a .env.local file and add this. set the value to the port you run the api project on.
# Note: The AUTH_SECRET is generated using the command `npx auth secret` and should be kept secret.
NEXT_PUBLIC_CHAT_API_URL=http://localhost:3001/chat
AUTH_SECRET=YourAuthSecret
